@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

#filter:focus {
  outline: none;
}

.slist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slist li {
  padding: 15px;
}

.slist li.hint {
  border: 1px solid #ffc49a;
  background: #feffb4;
}
.slist li.active {
  border: 1px solid #ffa5a5;
  background: #f5f5f5;
}